/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2022, 5:16:04 PM
    Author     : rihab bns
*/
.profile-layout{
    -fx-background-color:  #2bc20e
    -fx-background-insets: 0 0 50 50;
    
}
